rabbit: # ou le nom de ta release
  image:
    registry: docker.io
    repository: bitnami/rabbitmq  # <-- On utilise l'image Bitnami compatible
    tag: 4.0.9-debian-12-r0       # <-- Une version stable et récente
    pullPolicy: IfNotPresent

  auth:
    username: admin
    password: "1234"
    erlangCookie: "secretcookiepourlecluster" # Bonne pratique pour éviter les erreurs de split-brain

  # ⚠️ ICI : On met tout sur une ligne entre guillemets
  extraPlugins: "rabbitmq_mqtt rabbitmq_management rabbitmq_peer_discovery_k8s"

  service:
    type: LoadBalancer
    extraPorts:
      - name: mqtt
        port: 1883
        targetPort: 1883
        protocol: TCP

  persistence:
    enabled: true
    storageClass: "local-path"
    size: 2Gi

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi
